In [10]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib_inline as plt

In [11]:
pd.set_option('display.max_rows', None)

In [12]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [13]:
train.head(2)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1

In [14]:
test.head(2)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...

# EDA

In [15]:
print(train.shape)
print(test.shape)

(7613, 5)
(3263, 4)